/*-------global styles-------*/
body{
  font-family:"Rubic",sans-serif;
  margin:0;
 }
header.primary{
  background-color:#3b6b8b;
  color:#ffffff;
  text-align:center;
  text-shadow:2px 2px #000000;
  /* Long Form */
  padding-top:40px;
  padding-right:40px;
  padding-bottom:40px;
  padding-left:40px;
  /*single value */
  padding:40px;
  /* T/R/B/L */
padding:40px 40px 20px 40px;
  /*T/B | L/R */
  padding:20px 40px;
}




header.primary a{
  color:#ffffff;
  text-decoration:none;
}

header.primary h1{
  font-size:2.4rem;
  margin:0;
}
header.primary p.subtitle{
  font-size:1.3;
  margin:0;
  letter spacing:.2px;
}
nav.primary ul li{
  list-style-type:none;
  
}
nav.primary ul{
  padding:0;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}
nav.primary ul li a{
  background-color:rgba(0,0,0,.5);
  padding:5px 7.5px;
  border:1px solid #00000;
  border-radius:60px;
  transition:.5s;
}
nav.primary ul li a:hover{
  background-color:rgba(0,0,0,.8);
}
#content h2{
  color:#3b638b;
  border-bottom:1px dashed #c0c0c0;
}

#content p{
  line-height:1.4;
}

#blog{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
figure{
 
  margin:0;
}
}
#blog article.post{
  box-shadow:0 4px 8px rgba(0,0,0,6);
  padding:10px;
  font-size:.8rem;
  flex:1;
}
h2#recent-post{
  flex:0 0 100%;
}

article.post time, article.post figcaption{
  text-transform:uppercase;
  font-size:.6rem;
}

article.post a{
  color:#3b638b;
}

aside[aria-label="sidebar"]{
  background-color:#172635;
  color:#ffffff;
  padding:40px 0;
}

aside .container{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  gap:40px;
}

aside.conatainer a{
  color:#ffffff;
}
aside footer{
  display:none;
 
}

aside.conatainer a{
  color:#ffffff;
  display:block;
  text-align:right;
  margin-top:20px;
}

footer.primary{
 background-color:#3b6b8b;
  padding:5px;
  color:#fff;
  text-align:center;
  text-shadow:1px 1px #000000;
}

/* Media Queries */

@media screen and (max-width:600px){
  nav.primary ul{
  flex-direction:column;
  justify-content:space-around;
    gap:10px;
  
}
  nav.primary a{
    display:block;
  }
  
 
}